In [2]:
import pandas as pd

## Data Extraction

In [ ]:
import mysql.connector

# Koneksi ke database MySQL
connection = mysql.connector.connect(
    host='127.0.0.1',  
    user='user',  
    password='password',
    database='sales_db', 
    port=3307
)

# Periksa apakah koneksi berhasil
if connection.is_connected():
    print("Berhasil terhubung ke MySQL")

Berhasil terhubung ke MySQL

In [4]:
cursor = connection.cursor()
cursor.execute("SHOW TABLES")

# Menampilkan semua tabel
for table in cursor.fetchall():
    print(table)

cursor.close()

('cache',)
('cache_locks',)
('failed_jobs',)
('job_batches',)
('jobs',)
('migrations',)
('order_items',)
('orders',)
('password_reset_tokens',)
('products',)
('sessions',)
('users',)

True

In [28]:
cursor = connection.cursor()
cursor.execute("SELECT orders.*, users.name, users.email FROM orders JOIN users ON orders.user_id = users.id")

# Ambil semua hasil dari query
results = cursor.fetchall()

# Buat DataFrame dari hasil query
df = pd.DataFrame(results, columns=[i[0] for i in cursor.description])

# # Tampilkan Data
df.head()

,id,user_id,order_status,total_harga,created_at,updated_at,name,email
0,31,12,Pesanan selesai,37000,2024-11-25 05:03:05,2024-11-25 05:04:42,akhmad1,akhmad1@gmail.com